.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
.env.production.example
.phpactor.json
.phpunit.cache
.phpunit.result.cache
auth.json
.idea
.vscode
.cursor
.codex
.zed
node_modules
vendor
public/build
public/hot
public/storage
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
docs
tests
*.key
Thumbs.db
composer.phar
Dockerfile
.dockerignore
